<div id="fondo">
    <div id="titulo-pasos"><span class="titulo1">Gana en 3</span><br>Simples Pasos</div>
    <div id="pasos">
        <div class="paso">
            <div class="contenido-paso">
                <br>
                <br>
                <br>
                <br>
                <img src="../../../assets/Paso1.svg" />
                <br>
                <p class="mensaje-resaltado">Regístrate</p>
                Completa el formulario con tus datos básicos. ¡Es rápido y fácil!
            </div>
            <div class="titulo-paso fondo-azul">1</div>
            
        </div>
        <div class="paso">
            <div class="contenido-paso">
                <br>
                <br>
                <br>
                <br>
                <img src="../../../assets/Paso2.svg" />
                <br>
                <p class="mensaje-resaltado">Selecciona</p>
                Selecciona el sorteo a participar. Cada uno tiene premios únicos
            </div>
            <div class="titulo-paso fondo-verde">2</div>
        </div>
        <div class="paso">
            <div class="contenido-paso">
                <br>
                <br>
                <br>
                <br>
                <img src="../../../assets/Paso3.svg" />
                <br>
                <p class="mensaje-resaltado">Participa</p>
                Adquiere tu ticket y participa para ganar grandes premios.
            </div>
            <div class="titulo-paso fondo-rojo">3</div>
        </div>
    </div>
</div>
