<div class="main-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>RifamosTodo.online</mat-card-title>
            <mat-card-subtitle>Ganar, ganar y ganar ;)</mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Usuario</mat-label>
                  <input type="email" matInput placeholder="usuario@rifamos.com">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Nombres">
                  </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mínimo 8 digitos" />
                  <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input type="password" matInput placeholder="Mínimo 8 digitos" />
                  </mat-form-field>

              </form>              
        </mat-card-content>
        
        <mat-card-actions>
            <button mat-flat-button class="botones" color="accent">Crear</button>
        </mat-card-actions>
    </mat-card>
</div>