<p>
  <a mat-button routerLink="/sesion/iniciar">
    <!-- <mat-icon>chevron_left</mat-icon> Regresar -->
  </a>
</p>

<div class="main-container">
  @if (usuarioCreado) {
    <p>Se ha creado el usuario satisfactoriamente.  Redirigiéndose al login...</p>
  } @else {
    <!-- <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>RifamosTodo.online</mat-card-title>
            <mat-card-subtitle>Ganar, ganar y ganar ;)</mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <form class="form" [formGroup]="sesionForm" (ngSubmit)="onSubmit()">
              <p style="color: red; font-style: italic; font-size: small;">{{errorFormulario}}</p>
              <mat-form-field class="full-width">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput id ="usuario" formControlName = "usuario" placeholder="usuario@rifamos.com">
                @if (usuario.hasError('email') && !usuario.hasError('required')) {
                  <mat-error>Por favor ingresa un correo válido</mat-error>
                }
                @if (usuario.hasError('required')) {
                  <mat-error>El correo es <strong>requerido</strong></mat-error>
                }
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Nombres</mat-label>
                <input matInput id ="nombres" formControlName = "nombres" placeholder="Nombres">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput id ="apellidoPaterno" formControlName = "apellidoPaterno" placeholder="Apellido Paterno">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Apellido Materno</mat-label>
                <input matInput id ="apellidoMaterno" formControlName = "apellidoMaterno" placeholder="Apellido Materno">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Tipo Documento</mat-label>
                <input matInput id ="tipoDocumento" formControlName = "tipoDocumento" placeholder="Tipo Documento">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Número Documento</mat-label>
                <input matInput id ="numeroDocumento" formControlName = "numeroDocumento" placeholder="Número Documento">
              </mat-form-field>
            
              <mat-form-field class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id ="contrasena" formControlName = "contrasena" placeholder="Mínimo 8 digitos" />
                <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (contrasena.hasError('required')) {
                  <mat-error>La contraseña es <strong>requerida</strong></mat-error>
                }
                @if (contrasena.hasError('minlength')) {
                  <mat-error>La contraseña debe tener <strong>mínimo 8 caracteres</strong></mat-error>
                }
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput [type]="hideConfirm ? 'password' : 'text'" id ="contrasenaConfirmacion" formControlName = "contrasenaConfirmacion" [errorStateMatcher]="confirmErrorMatcher" placeholder="Mínimo 8 digitos" />
                <button mat-icon-button type="button" matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (contrasenaConfirmacion.hasError('required')) {
                  <mat-error>La confirmacón de la contraseña es <strong>requerida</strong></mat-error>
                }
                @if (!contrasenaConfirmacion.hasError('required')) {
                  <mat-error>La contraseña y su confirmación no coinciden</mat-error>
                }                
              </mat-form-field>
            
              <button mat-flat-button class="botones" color="accent" type="submit" [disabled]="sesionForm.invalid">Crear</button>
            </form>              
        </mat-card-content>
    </mat-card> -->
  }
</div>