<div class="main-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>RifamosTodo.online</mat-card-title>
            <mat-card-subtitle>Ganar, ganar y ganar ;)</mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <form class="form" [formGroup]="sesionForm">
              <mat-form-field class="full-width">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput id ="usuario" formControlName = "usuario" placeholder="usuario@rifamos.com">
                @if (usuario.hasError('email') && !usuario.hasError('required')) {
                  <mat-error>Por favor ingresa un correo válido</mat-error>
                }
                @if (usuario.hasError('required')) {
                  <mat-error>El correo es <strong>requerido</strong></mat-error>
                }
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Nombres</mat-label>
                <input matInput id ="nombres" formControlName = "nombres" placeholder="Nombres">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput id ="apellidoPaterno" formControlName = "apellidoPaterno" placeholder="Apellido Paterno">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Apellido Materno</mat-label>
                <input matInput id ="apellidoMaterno" formControlName = "apellidoMaterno" placeholder="Apellido Materno">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Tipo Documento</mat-label>
                <input matInput id ="tipoDocumento" formControlName = "tipoDocumento" placeholder="Tipo Documento">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Número Documento</mat-label>
                <input matInput id ="numeroDocumento" formControlName = "numeroDocumento" placeholder="Número Documento">
              </mat-form-field>
            
              <mat-form-field class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id ="contrasena" formControlName = "contrasena" placeholder="Mínimo 8 digitos" />
                <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (contrasena.hasError('required')) {
                  <mat-error>La contraseña es <strong>requerida</strong></mat-error>
                }
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Confirmar contraseña</mat-label>
                <input type="password" matInput id ="contrasenaConfirmacion" formControlName = "contrasenaConfirmacion" placeholder="Mínimo 8 digitos" />
                @if (contrasenaConfirmacion.hasError('required')) {
                  <mat-error>La contraseña es <strong>requerida</strong></mat-error>
                }
              </mat-form-field>
            
              <button mat-flat-button class="botones" color="accent" type="submit" [disabled]="sesionForm.invalid">Crear</button>
            </form>              
        </mat-card-content>
        
        <!-- <mat-card-actions>
            
        </mat-card-actions> -->
    </mat-card>
</div>