<div id="fondo-quienes-somos">

    <div id="pasos">

        <div class="paso">
            <div>
                <br>
                <br>
                <br>                        
            </div>
            <div id="titulo-quienes-somos"><span class="titulo1">Nosotros</span></div>
            <div id="parrafo" class="parrafo">
                Fundamos Lima Code Line en el año 2024 como una empresa dedicada al desarrollo, 
                mantenimiento y comercialización de sistemas de información y entretenimiento.
                Siendo nuestro primer producto RifamosTodo.online.
            </div>
            <div>
                <br>
            </div>
            <div id="titulo-quienes-somos"><span class="titulo1">Misión</span></div>
            <div id="parrafo" class="parrafo">
                Convertirnos en socios estratégicos de nuestros proveedores de premios y así poder 
                llevar entretenimiento, emoción y oportunidad de ganar a nuestros clientes.
            </div>
            <div>
                <br>      
            </div>
            <div id="titulo-quienes-somos"><span class="titulo1">Visión</span></div>
            <div id="parrafo" class="parrafo">
                Ser reconocidos como la primera web exitosa de rifas del Perú.
            </div>

        </div>

        <div class="paso">
            <div id="parrafo" class="parrafo">
                <img src="../../../assets/quienes-somos.svg" />
            </div> 
        </div>

    </div>
</div>
