.contenedor-principal {
    max-width: 1443.35px;
    /*background-image: url(../../../assets/FondoBanner.png);*/
    width: auto;
    /* min-height: 641px; */
    padding: 52px 20px 20px 66px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 640px;
}

.contenedor-main {
  max-width: 1443.35px;
  background-image: url(../../../assets/FondoBanner.png);
  width: auto;
  /* min-height: 641px; */
  height: 640px;
}

.datos-rifa {
    min-width: 528px;
    max-height: 496.09px;
    margin-top: 30px;
}

#titulo-rifa {
    color: white;
    /*-webkit-text-fill-color: white;*/
    -webkit-text-stroke: 3px black;
    font-weight: 900;
    font-size: 83px;
    line-height: 0.8em;
}

#detalle-rifa {
    color: white;
    font-weight: 700;
    font-size: 33px;
    line-height: 1.1em;
    margin-bottom: 25px;
}

#premios {
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 12px 20px;
}

#fecha {
    color: #15181F;
    font-weight: 800;
    font-size: 28px;
}

#tabla-premios {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

#tabla-premios div {
    padding-left: 14px;
}

.titulo-tabla-premios {
    color: #15181F;
    font-weight: 700;
    font-size: 18.9px;

}

.titulo-tabla-premios + .titulo-tabla-premios {
    border-left: solid 2px #00A909;
}

.fila-tabla-premios {
    color: #15181F;
    font-weight: 300;
    font-size: 15.5px;
    font-style: italic;
}

.fila-tabla-premios + .fila-tabla-premios {
    border-left: solid 2px #00A909;
}

.vl {
    border-left: 2.5px dashed #15181F;
    height: 10px;
  }

  .boton-participar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
  }

  .boton-participar mat-icon {
    width: auto;
    height: auto;
  }

  .imagenes{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .imagenes div{
    height: 100%;
    width: 100%;
    flex: 1;
    /* border: solid 1px black; */
    border-radius: 9.64px;
  }

  .imagenes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
    gap: 10px;
  }

  .imagenes ul li{
    flex: 1;
    height: 100%;
    border: solid 1px black;
    border-radius: 9.64px;
  }