.footer {
    background-color: #131314;
    height:480px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 15px;
    color: #fff;
    line-height: 1em; 
  }

  .Flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 50px 50px 50px 50px;
    padding: 0;
}

.Flex-item {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.Flex-item + .Flex-item {
    border-left: solid 1px white;
}

/** Optional for OPs exact layout */

.Flex-item:first-child {
    text-align: left;
}

.Flex-item:last-child {
    text-align: right;
}

.footer-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #009800;
    height:50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: 'Rubik'
}

.logo {
    width: 183px;
    height: 78px;
   }