.footer {
    background-color: #131314;
    height:480px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #fff; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    line-height: 1.2;
  }

  .item {
    margin-top: 63px;
    margin-bottom: 140px;
    padding-left: 35px;
  }

  .item + .item {
    border-left: solid 2px #242424;
}

.item a{
    text-decoration: none;
}

.item a:link, :visited, :hover, :active{
    color: #fff;
}

.footer-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #009800;
    height:50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: 'Rubik'
}

.logo {
    width: 183px;
    height: 78px;
   }

.reclamaciones {
    display: flex;
    flex-direction: row;
}