<section class="contenedor-total">
    <div class="container-section">
        <div class="imagen-dato">
            <app-rifa-detalle-imagen [rifaIdInput] ="rifaId"></app-rifa-detalle-imagen>
        </div>
        
        <div class="imagen-dato">
            <app-rifa-detalle-datos [rifaIdInput] ="rifaId"></app-rifa-detalle-datos>
        </div>
    </div>
    <mat-divider></mat-divider>
    <p>
    <div class="contenedor-pago">
        <form>
            <mat-form-field>
                <mat-label>Comprar</mat-label>
                <input type="number" matInput placeholder="Cantidad de opciones" min = "1" max = "20" value = "1">
            </mat-form-field>
            
            <br>
            
            <button mat-flat-button class="boton-pagar" color="accent" (click)="pagar()">Pagar</button>
        </form>
    </div>
</section>