 <div class="main-container">
    <mat-card class="tarjeta">
        <mat-card-header>
            <mat-card-title>Rifamos.com</mat-card-title>
            <mat-card-subtitle>Ganar, ganar y ganar ;)</mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <form class="formulario">
                <mat-form-field class="full-width">
                  <mat-label>Usuario</mat-label>
                  <input matInput placeholder="usuario@rifamos.com">
                </mat-form-field>
              
                <mat-form-field class="full-width">
                  <mat-label>Contraseña</mat-label>
                  <input type="password" matInput placeholder="Mínimo 8 digitos" />
                  
                </mat-form-field>

                <a href="#">Olvidé mi contraseña</a>
                
              </form>              
        </mat-card-content>
        
        <mat-card-actions class="acciones">
            <button mat-flat-button class="botones" color="accent">Continuar</button>
            <p>
              o
            </p>  
            <a mat-stroked-button class="botones" color="primary" href="./sesion/registrate">Regístrate</a>
        </mat-card-actions>
    </mat-card>
</div>