 <div class="main-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Rifamos.com</mat-card-title>
            <mat-card-subtitle>Ganar, ganar y ganar ;)</mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Usuario</mat-label>
                  <input matInput placeholder="usuario@rifamos.com">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <mat-label>Contraseña</mat-label>
                  <input type="password" matInput placeholder="Mínimo 8 digitos" />
                </mat-form-field>

                <a href="#">Olvidé mi contraseña</a>
                <p>
                <button mat-flat-button class="botones" color="accent">Continuar</button>
              </form>              
        </mat-card-content>

        <mat-divider></mat-divider>
        
        <mat-card-actions>
            
        </mat-card-actions>
    </mat-card>
</div>