<div class="fondo-negro">
    <div class = "letras-principal">Prepárate para disfrutar  de la posibilidad  de acceder a premios increíbles.</div>
    <div class="fondo-amarillo">
        <div>Próxima premiación en </div>
        <div class="circulos">
            <div class="circulo">
                <div class="fecha">
                    <div class="numero">06</div>
                     <div class="letras">Días</div>
                </div>
            </div>
            <div class="circulo">
                <div class="fecha">
                    <div class="numero">18</div>
                    <div class="letras">Horas</div>
                </div>
            </div>
            <div class="circulo">
                <div class="fecha">
                    <div class="numero">33</div>
                    <div class="letras">Min</div>
                </div>
            </div>
        </div>
    </div>
</div>