<div class="contenedor-principal">
    <div id="foto">

    </div>
    <div id="contenedor-formulario">
        <div id="formulario">
            <div id="titulo">CONTACTANOS</div>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded-pill" id="txtNombre" placeholder="Nombre">
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control rounded-pill" id="txtCoreo" placeholder="Email">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded-pill" id="txtTelefono" placeholder="Teléfono">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded-pill" id="txtCantidadPersonas" placeholder="Cantidad de personas">
            </div>
            <div class="input-group mb-3">
                <textarea class="form-control rounded" id="txtMensae" rows="3" placeholder="Mensaje"></textarea>
            </div>
            <div class="centrado">
                <button type="button" class="btn btn-warning">Enviar</button>
            </div>
        </div>
    </div>
</div>