/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    display: flex;
    flex-direction: column;
    margin: 0;}
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif !important;}

.principal-container {
    height: 100%;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    min-height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}