<div id="content">
    <div><app-banner-principal></app-banner-principal></div>
    <br><br>
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev">atras</div>
    <div class="swiper-button-next">adelane</div> -->
    <div><app-rifa-comprimida-carousel style="margin-top: 71px; margin-bottom: 117px;"></app-rifa-comprimida-carousel>    </div>
    <br><br><br><br>
 <app-rifa-pasos></app-rifa-pasos>
 <app-rifa-calendario-ganadores></app-rifa-calendario-ganadores>
 <app-rifa-banner-proximo-premio></app-rifa-banner-proximo-premio>
 <app-rifa-banner-que-encontraras></app-rifa-banner-que-encontraras>
 <app-rifa-banner-contactanos></app-rifa-banner-contactanos>
</div>